@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url(../styles/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {
    font-family: Ubuntu;
}

body {
    margin: 0;
    margin: auto;
}

.container {
    width: 1230px;
    margin: auto;
}
.headerWrapper {
    position: sticky;
    top: 0.1px;
    background-color: #F4F5F6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.navbar{
    display: flex;
}

.navbar p{
    margin-right: 40px;
}

.contacts{
    display: flex;
}

.contactsItem{
    display: flex;
    margin-left: 36px;
}
.contactsInfo{
    margin-left: 12px;
}
.contactsInfo p{
    margin: 0;
}
.hero{
    background: url(../assets/bg-image.png);
    height: 1000px;
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    /* background-position-x: center; */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    
}
.values{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

}


.spanHero {

    width: 400px;
}

.textBig {
    color: white;
    font-size: 72px;
    width: 577px;
    height: 188px;
}
.textSmall {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    width: 595px;
    height: 90px ;
    

}

.button1 {
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    background: transparent;
    padding: 10px 30px;
    size: 16px;
    margin-right: 10px;

}

.button2 {
    color: white;
    background-color: #FF5A30;
    border-radius: 5px;
    size: 16px;
    padding: 10px 30px;
    border: none
    
}
.orange {
    color: #FF5A30;
}
.formTitle {
    font-weight: bold;
    font-size: 28px;
}
.formWrapper {
    width: 100%;
    padding-top: 120px;
    background: linear-gradient(grey 80%, lightgrey 80%);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 48px 60px;
    border-radius: 4px;
    
}
.formData {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formInput {
    display: flex;
    flex-direction: column;

}

.formInput input {
    padding: 12px 16px;
    border-radius: 4px;
    margin-top:  5px;
    width: 200px;
    color:#9A9CA5;
    border-color: #9A9CA5;
    background-color: #F4F5F6;


}
#messageInput {
    width: 300px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blockQuality {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.blockSafety {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.blockComfort {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.pQuality {
    font-weight: bold;
    color: #1E212C;
}

.pSafety {
    font-weight: bold;
    color: #1E212C;
}

.pComfort {
    font-weight: bold;
    color: #1E212C;
}

.text1 {
    font-size: 16px;
    width: 285px;
    height: 78px; 
    display: flex;
    align-items: center;
    text-align: center;
    color: #787A80;
}
.text2 {
    font-size: 16px;
    width: 285px;
    height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #787A80;
}
.text3 {
    font-size: 16px;
    width: 285px;
    height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #787A80;
}
.Corevalues {
    color: #1E212C;
    font-size: large;
}
.Ourmission {
    color: #787A80;
    margin-bottom: 20px;
}

.buttonSEND {
    background-color:  #FF5A30;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: lightgrey;
}

.servicesTitle {
    font-size: 46px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}

.servicesSubtitle {
    font-size: 18px;
    color: #787A80;
    margin: 0;
    margin-bottom: 60px;
}
.servicesItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.servicesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 285px;
    height: 285px;
    justify-content: center;
    background-color: white;
    transition: background-color 3s ease;
    border-radius: 4px;
}
.servicesItem:hover {
    background-image: url(../assets/image1.jpg);
    transition: background-color 3s ease;
}

.servicesMore {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    align-items: center;
}
.servicesBtn{
    padding: 20px 40px;
    height: 62px;
    font-size: 18px;
    background-color: #FF5A30;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.servicesBtn:hover { 
    background-color: brown;
    transition: background-color 0.5s ease;
}
.servicesBtn:active {
    background-color: yellow;
}

.browse {
    width: 120px;
    height: 120px;
}
.textBold {
    font-weight: bold;
    color: #1E212C;
}
.textSlim {
    font-size: 16px;
    width: 285px;
    height: 78px;
    display:flex;
    justify-content: center;
    color: #787A80;
}

.ExploreItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ExploreItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 4px;
    width: 390px;
    height: 460px;
    justify-content: center;
    background-color: gainsboro;
    margin-top: 60px;
}

.ExploreMore {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.ProjectBtn {
    margin-bottom:30px ;
    padding: 10px;
    height: 42px;
    font-size: 16px;
    background-color: gainsboro;
    color: #FF5A30;
    border: 1px solid;
    border-radius: 8px;
}